# Home Assistant connection

# dev add-on + dev HA
#HA_URL=http://host.docker.internal:8123
#HA_TOKEN="YOUR LONG LIVED TOKEN FOR YOUR DEV HOME ASSISTANT HERE (WITHOUT QUOTES)"

#dev add-on + prod HA
HA_URL=http://homeassistant.local:8123
HA_TOKEN="YOUR LONG LIVED TOKEN FOR YOUR PROD HOME ASSISTANT HERE (WITHOUT QUOTES)"

HA_DB_URL=http://homeassistant.local:8086/api/v2/query
HA_DB_USER_NAME="YOUR DB USERNAME HERE"
HA_DB_PASSWORD="YOUR DB PASSWORD HERE"

# Development mode
FLASK_DEBUG=true
